# <IfModule mod_rewrite.c>
#     RewriteEngine On
#     RewriteCond %{HTTPS} off
#     RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# </IfModule>

# .htaccess
RewriteEngine On

# فعال فقط روی هاست واقعی
RewriteCond %{HTTP_HOST} !^(localhost|bpm\.local) [NC]
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# یا این روش:
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

RewriteEngine On

# فقط اگر مسیر دقیقاً /pages باشه
RewriteCond %{REQUEST_URI} ^/pages/?$ 
RewriteRule ^.*$ /access-denied.php [R=302,L]